.table_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3f3f3f;
    margin-bottom: 2vh;
}

.table_header_item {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
}

.table_header_item button {
margin: 0;
}

.header_fio {
    display: flex;
    flex-direction: column;
}

.header_fio label {
    margin-bottom: 10px;
}

.search_button {
    width: 100%;
}

table {
    display: block;
    width: 100%;
}

tbody {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2vh;
    font-size: 18px;
    min-height: 60vh;
    background-color: #3f3f3f;
}

tbody tr {
    background-color: #3f3f3f;
}

.doctor_list_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.doctor_list_item th {
    padding: 15px;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    word-break: break-all;
}

.history button {
    margin: 0;
}
.cancel_record_button button{
    text-align: center;
    word-break: keep-all;
    width: 10vw;
}

.fio_item {
    height: 80px;
}